:root{
    --background: #fffafa;
    --primary-colour: #ffe0e0;
    --secondary-colour: #ffc0d0;
    --accent-colour: #f48db4;
    --text-colour: #3e3e3e;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto';
    font-size: 16pt;
    color: var(--text-colour);
}

body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--acent-colour);
}

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-colour);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-colour);
    caret-color: var(--accent-colour);
}

#todo-input:focus{
    outline: none;
}

form{
    position: relative;
}

#add-button{
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--accent-colour);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-colour);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button:hover svg{
    fill: #ff0033;
}

.custom-checkbox{
    border: 2px solid var(--accent-colour);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-colour);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-colour);
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-colour);
}

input[type="checkbox"]{
    display: none;
}

@media(max-width:500px){
    html{
        font-size:12pt;
    }
    #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 15vw;
        
    }
}